<mat-grid-list cols="2" rowHeight="600px">
<mat-grid-tile>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Oh, The Germanity</mat-card-title>
      <mat-card-subtitle>The Hydrogen Bomb of 1936</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/typeset1.jpg" alt="Followers of Fashion">
    <mat-card-content>
      <p style="margin-top: 15px">
        Φαβθλασ οπορτεατ ρεπρεηενδθντ cθμ ει. Ιν ασσθμ cονγθε δοcενδι qθι, vιξ ετ ιμπετθσ θτροqθε δολορεμ.
      </p>
    </mat-card-content>
    <mat-card-actions style="padding: 15px">
      <button mat-raised-button color="bluegrey">
        <mat-icon class="fas fa-sun"></mat-icon>
        &nbsp;Circular</button>
      <button mat-raised-button color="primary">
          <mat-icon>directions_bike</mat-icon>
        &nbsp;Angular</button>
    </mat-card-actions>
  </mat-card>

</mat-grid-tile>

<mat-grid-tile>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Oh, The Germanity</mat-card-title>
      <mat-card-subtitle>The Hydrogen Bomb of 1936</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/typeset1.jpg" alt="Followers of Fashion">
    <mat-card-content>
      <p style="margin-top: 15px">
        Φαβθλασ οπορτεατ ρεπρεηενδθντ cθμ ει. Ιν ασσθμ cονγθε δοcενδι qθι, vιξ ετ ιμπετθσ θτροqθε δολορεμ.
      </p>
    </mat-card-content>
    <mat-card-actions style="padding: 15px">
      <button mat-raised-button color="bluegrey">
        <mat-icon class="fas fa-sun"></mat-icon>
        &nbsp;Circular</button>
      <button mat-raised-button color="primary">
          <mat-icon>directions_bike</mat-icon>
        &nbsp;Angular</button>
    </mat-card-actions>
  </mat-card>


</mat-grid-tile>

</mat-grid-list>

<!-- </div> -->
